.DS_Store

.trae/

LocalModelMacOS/

**/node_modules/
**/dist/
**/build/
**/DerivedData/
**/.gradle/
**/Pods/
**/.bundle/

**/*.keystore
**/*.jks
**/*.p12
**/*.pem
**/*.key
**/*.mobileprovision

**/.xcode.env.local

thirdparty/my-local-model/models/
